.navbar-custom{
    background-color: #fee9e1;
}

body{
    background-color: #fad4c0;
}

p{
    color: #b09e99;
}

a{
    color: #b09e99;
}

a.forras:hover{
    color: rgb(100, 182, 172);
    font-size: 120%;
}

nav {
    margin-bottom: 0 !important;
}

.container {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.text-blockleft {
    position:relative;
    bottom: 150px;
    right: 150px;
    background-color:#fee9e1;
    color: #b09e99;
    padding-left: 50px;
    padding-right: 50px;
  }

.text-blockright {
    position:relative;
    bottom: 150px;
    left: 150px;
    background-color:#fee9e1;
    color: #b09e99;
    padding-left: 50px;
    padding-right: 50px;
  }
h4 {
    font-size: 30px;
  }

.center {
    margin-left: auto;
    margin-right: auto;
  }

tr {
    font-size: 22px;
    text-align: center;
}

td {
    font-size: 22px;
    text-align: center;
}