.navbar-custom{
    background-color: #fee9e1;
}

body{
    background-color: #fad4c0;
}

p{
    color: #b09e99;
}

a{
    color: #b09e99;
}

nav {
    margin-bottom: 0 !important;
}

.container {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.text-block {
    position:relative;
    bottom: 150px;
    right: 150px;
    background-color:#fee9e1;
    color: #b09e99;
    padding-left: 50px;
    padding-right: 50px;
  }
